@inherits BaseWebFormsComponent

<Microsoft.AspNetCore.Components.Forms.EditForm Model="Model" OnValidSubmit="ValidSubmit">

	<table cellspacing="0" cellpadding="@(BorderPadding)" id="view" style="border-collapse:collapse;">
		<tbody>
			<tr>
				<td>
					<table cellpadding="0">
						<tbody>
							@if (!string.IsNullOrEmpty(ChangePasswordTitleText))
							{
								<tr>
									<td align="center" colspan="2" style="@ChangePasswordButtonStyle" class="@ChangePasswordButtonStyle.CssClass">@ChangePasswordTitleText</td>
																	</tr>
							}
							@if (!string.IsNullOrEmpty(InstructionText))
							{
								<tr>
									<td align="center" colspan="2" style="@InstructionTextStyle" class="@InstructionTextStyle.CssClass">@InstructionText</td>
								</tr>
							}
							@if (DisplayUserName)
							{
								<tr>
									<td align="right" style="@LabelStyle" class="@LabelStyle.CssClass">
										<label>@UserNameLabelText</label>
									</td>
									<td>
										<InputText @ref="UsernameInput.Current" @bind-Value="@Model.Username" style="@TextBoxStyle" class="@TextBoxStyle.CssClass" />
										<RequiredFieldValidator @ref="UsernameValidator" ControlToValidate="UsernameInput" Text="*" ErrorMessage="@UserNameRequiredErrorMessage" />
									</td>
								</tr>
							}
							<tr>
								<td align="right" style="@LabelStyle" class="@LabelStyle.CssClass">
									<label>@PasswordLabelText</label>
								</td>
								<td>
									<InputText @ref="PasswordInput.Current" @bind-Value="@Model.Password" style="@TextBoxStyle" class="@TextBoxStyle.CssClass" />
									<RequiredFieldValidator @ref="PasswordValidator" ControlToValidate="PasswordInput" Text="*" ErrorMessage="@NewPasswordRequiredErrorMessage" />
								</td>
							</tr>
							<tr>
								<td align="right" style="@LabelStyle" class="@LabelStyle.CssClass">
									<label>@NewPasswordLabelText</label>
								</td>
								<td>
									<InputText @ref="NewPasswordInput.Current" @bind-Value="@Model.Password" style="@TextBoxStyle" class="@TextBoxStyle.CssClass" />
									<RequiredFieldValidator @ref="NewPasswordValidator" ControlToValidate="NewPasswordInput" Text="*" ErrorMessage="@NewPasswordRequiredErrorMessage" />
									<RegularExpressionValidator @ref="RegexPasswordValidator" ControlToValidate="NewPasswordInput" Text="*" ErrorMessage="@NewPasswordRegularExpressionErrorMessage" />
								</td>
							</tr>
							<tr>
								<td align="right" style="@LabelStyle" class="@LabelStyle.CssClass">
									<label>@ConfirmNewPasswordLabelText</label>
								</td>
								<td>
									<InputText @ref="ConfirmNewPasswordInput.Current" @bind-Value="@Model.Password" style="@TextBoxStyle" class="@TextBoxStyle.CssClass" />
									<RequiredFieldValidator @ref="ConfirmNewPasswordValidator" ControlToValidate="ConfirmNewPasswordInput" Text="*" ErrorMessage="@ConfirmPasswordRequiredErrorMessage" />
									<CompareValidator @ref="CompareNewPasswordValidator" ControlToValidate="PasswordInput" Text="*" ErrorMessage="@NewPasswordRegularExpressionErrorMessage" />
								</td>
							</tr>


								<tr>
									<td align="right"><label for="view_ChangePasswordContainerID_CurrentPassword">Password:</label></td>
									<td><input name="view$ChangePasswordContainerID$CurrentPassword" type="password" id="view_ChangePasswordContainerID_CurrentPassword"><span id="view_ChangePasswordContainerID_CurrentPasswordRequired" title="Password is required." style="visibility:hidden;">*</span></td>
								</tr>
																												<tr>
																													<td align="right"><label for="view_ChangePasswordContainerID_NewPassword">New Password:</label></td>
																													<td><input name="view$ChangePasswordContainerID$NewPassword" type="password" id="view_ChangePasswordContainerID_NewPassword"><span id="view_ChangePasswordContainerID_NewPasswordRequired" title="New Password is required." style="visibility:hidden;">*</span></td>
																												</tr>
																												<tr>
																													<td align="right"><label for="view_ChangePasswordContainerID_ConfirmNewPassword">Confirm New Password:</label></td>
																													<td><input name="view$ChangePasswordContainerID$ConfirmNewPassword" type="password" id="view_ChangePasswordContainerID_ConfirmNewPassword"><span id="view_ChangePasswordContainerID_ConfirmNewPasswordRequired" title="Confirm New Password is required." style="visibility:hidden;">*</span></td>
																												</tr>
																												<tr>
																													<td align="center" colspan="2"><span id="view_ChangePasswordContainerID_NewPasswordCompare" style="display:none;">The Confirm New Password must match the New Password entry.</span></td>
																												</tr>
																												<tr>
																													<td align="right"><input type="submit" name="view$ChangePasswordContainerID$ChangePasswordPushButton" value="Change Password" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;view$ChangePasswordContainerID$ChangePasswordPushButton&quot;, &quot;&quot;, true, &quot;view&quot;, &quot;&quot;, false, false))" id="view_ChangePasswordContainerID_ChangePasswordPushButton"></td>
																													<td><input type="submit" name="view$ChangePasswordContainerID$CancelPushButton" value="Cancel" id="view_ChangePasswordContainerID_CancelPushButton"></td>
																												</tr>
																											</tbody>
																										</table>
																									</td>
																								</tr>
																							</tbody>
																						</table>



																						<CascadingValue Name="ChangePasswordButtonStyle" Value="ChangePasswordButtonStyle">
																						<CascadingValue Name="InstructionTextStyle" Value="InstructionTextStyle">
																						<CascadingValue Name="LabelStyle" Value="LabelStyle">
																						<CascadingValue Name="TextBoxStyle" Value="TextBoxStyle">
																							@ChildContent
																																													</CascadingValue>
																																													</CascadingValue>
																																													</CascadingValue>
																																													</CascadingValue>

																																												</Microsoft.AspNetCore.Components.Forms.EditForm>

@code {
	public ForwardRef<InputBase<string>> UsernameInput = new ForwardRef<InputBase<string>>();
	public ForwardRef<InputBase<string>> PasswordInput = new ForwardRef<InputBase<string>>();
	public ForwardRef<InputBase<string>> NewPasswordInput = new ForwardRef<InputBase<string>>();
	public ForwardRef<InputBase<string>> ConfirmNewPasswordInput = new ForwardRef<InputBase<string>>();




	public class ChangePasswordModel
	{
		public string Username { get; set; }
		public string Password { get; set; }
		public string NewPassword { get; set; }
		public string ConfirmNewPassword { get; set; }
	}

}
